<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true" bootstrap="tests/PHPUnit/bootstrap.php">
    <testsuites>
        <testsuite name="Zae\StrictTransportSecurity Test Suite">
            <directory>tests/PHPUnit/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>
</phpunit>